@import '/src/styles/main.scss';

.container-input {
  width: $default-width;
  margin-top: 16px;

  .base-input {
    width: $default-width;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: $default-border-radius;
    outline: none;
    height: 40px;
  }

  .base-input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .base-input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .error-message {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    color: $error-text-color;
  }
}
