.container-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .base-label {
    padding-top: 2rem;
  }

  .base-input {
    padding: 6px;
    border: 1px solid;
    border-radius: 4px;
    outline: none;
  }
}
