.container-input {
  display: flex;
  flex-direction: column;

  .base-label {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 2rem;
    gap: 10px;
  }

  .base-input {
    padding: 8px;
    border: 1.5px solid #000;
    border-radius: 6px;
    outline: none;
    height: 20px;
  }

  .error-message {
    margin-top: 10px;
    color: #ff0000;
  }
}
