.container-input {
  .base-label {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 1rem;
    gap: 8px;
  }

  .base-input {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 8px;
    outline: none;
    height: 24px;
  }

  .error-message {
    display: block;
    margin-top: 8px;
    width: 100%;
    color: #ff0000;
  }
}
