@use '/src/styles/variables.scss' as vars;

.third-step-container {
  width: vars.$default-width;
  .password-access-title {
    margin: vars.$default-margin-for-titles;
    font-weight: vars.$font-weigth-for-titles;
  }
}
