@use '/src/styles/variables.scss' as vars;

.button {
  width: vars.$default-width;
  height: 40px;
  border-radius: vars.$default-border-radius;
  font-size: 16px;

  &.primary {
    background-color: vars.$primary-and-secondary-color;
    border: none;
    color: #fff;
  }

  &.secondary {
    background-color: #fff;
    border-color: vars.$primary-and-secondary-color;
    color: vars.$primary-and-secondary-color;
    border: 2px solid;
  }
}
