@import '/src/styles/main.scss';

.second-step-container {
  width: $default-width;

  .type-person-title {
    margin: $default-margin-for-titles;
    font-weight: $font-weigth-for-titles;
  }

  .base-button {
    width: $default-width;
  }

  .button-options {
    display: flex;
    gap: 16px;
  }
}
