@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

$default-width: 100%;
$default-border-radius: 8px;
$default-margin-for-titles: 0 0 32px 0;
$font-weigth-for-titles: 800;
$error-text-color: #ff0000;
$primary-and-secondary-color: #ffa500;
