.first-step-container {
  width: fit-content;
  .step-title {
    font-weight: 400;
    padding: 20px 0px 10px 0px;
    margin: 0;
  }
  .orange-number {
    color: #ffa500;
  }

  .welcome-title {
    font-weight: 800;
    margin: 0;
  }

  .base-button {
    width: 100%;
  }
}
