@use '/src/styles/variables.scss' as vars;

.first-step-container {
  width: vars.$default-width;

  .welcome-title {
    margin: vars.$default-margin-for-titles;
    font-weight: vars.$font-weigth-for-titles;
  }
}
